
# storage mode: local or s3(if using cloud storage)
DJANGO_STORAGE=local
# s3 / Arvan settings (only needed if DJANGO_STORAGE=s3)
ARVAN_ACCESS_KEY_ID=
ARVAN_SECRET_ACCESS_KEY=
ARVAN_STORAGE_BUCKET_NAME=
# or your cloud endpoint
ARVAN_ENDPOINT=https://s3.ir-thr-at1.arvanstorage.ir 