# =========================
# Django
# =========================
# DJANGO_SECRET_KEY=
# DJANGO_DEBUG=True
# DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# =========================
# Database (PostgreSQL)
# =========================
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# options: localhost | postgres (if running with docker compose)
DB_HOST=


# =========================
# Storage
# =========================
# options: local | s3
DJANGO_STORAGE=local

# =========================
# S3 / Arvan / AWS (only used if DJANGO_STORAGE=s3)
# =========================
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=

